img:hover .cuore{
            visibility: visible;
                  }
.box {
      display: inline-block;
      }
.cuore {
        position: relative;
        left: 91px;
        width: 20px;
        visibility: hidden;
        }

.photolove {
            display: inline-block;
            width: 230px;
            }
.sconto {
      position: absolute;
}
